html
{
    background-color: aquamarine;
    box-sizing: content-box;
}
.columns
{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 70px;
    background-color: white
    
}
#tid
{
    float: right;
    color: darksalmon;
}
#navBar
{
    
    text-align: center;
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 70px;
    background-color: orange
   
   
}
.nav-link
{
    text-decoration: none;
    word-spacing: 35px;
    font-size: 30px;
    color: whitesmoke
}
.navbar-nav
{
    list-style-type: none;
}
.nav-link:hover
{
    color: blue;
}
h1
{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
h2, a
{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
}
.container > h3, li, p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    float: left;
    
}
#left
{
    float: left;
}
#bild
{
    width: 300px;
}
#OmMig
{
    background-color: aquamarine;
}



@media screen and (max-width: 620px)
{
    h1
{
    
    font-size: 40px;
    width: 200px;
}
#Arbeteh1
{
    font-size: 30px;
}
#bild
{
    
    width: 100%;
}
h2{
    width: 50%;
    
}
#mail
{
    font-size: 125%;
    position: relative;
    top: auto;
    left: -20px;
}
.nav-link
{
    font-size: 120%;
    color: black;
    position: relative;
    top: -70px;
    left: -30px;
}
#lager
{
    position: relative;
    top: auto;
    left: -40px;
}
}